*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: sans-serif ;
}
main{
  width: 40% ;
  margin: 8rem auto ;
  border: #2973B2 solid 0.3rem ;
  padding: 1rem ;
  border-radius: 2rem ;
  position: relative ;
}
.underline{
  width: 2.3rem ;
  height: 0.2rem ;
  background-color: #2973B2 ;
  margin-bottom: 3rem ;
  display: inline-block ;
}
.name{
  color: #2973B2 ;
}
.png{
  width: 1.8rem ;
  display: inline-block ;
  margin: 0 10px 0 0 ;
}
.p{
  display: inline-block ;
  position: relative ;
  bottom: 8px ;
  margin: 0 ;
}
.home{
  background-color: #2973B2 ;
  color: white ;
  height: 30px ;
  border-radius: 0.9rem ;
  margin: 30px 5px 0 0 ;
}
.home-png{
  background-color: #D4C9BE ;
  border-radius: 50% ;
}
.my-img{
  width: 12rem ;
  height: 12rem ;
  border-radius: 50% ;
  border: #2973B2 solid 0.3rem;
  outline: none ;
  display: inline-block ;
  position: absolute ;
  right: 2rem  ;
  bottom: 3.5rem ;
}
