*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
}
body{
  background-color: #F2EFE7 ;
  font-family: sans-serif ;
  text-align: center ;
  margin: 3rem ;
}
h1{
  margin: 1.5rem ;
  text-decoration: double underline ;
  text-underline-offset: 4px ;
}
input{
  width: 19rem ;
  height: 3rem ;
  border-radius: 0.8rem ;
  padding: 1rem ;
  border: 0.16rem solid #563A9C ;
  outline: none ;
  font-size: 1.5rem ;
  margin-bottom: 1rem ;
}
button{
  width: 4.5rem ;
  height: 3rem ;
  border-radius: 0.8rem ;
  border: 0.16rem solid #563A9C ;
  font-size: 1.2rem ;
  cursor: pointer ;
}
.Court{
}
div{
  margin: 3rem ;
}
img{
  margin: 3rem ;
  width: 30rem ;
}
h2{
  line-height: 2 ;
}
#map{
  width: 90% ;
  height: 30rem ;
  margin: auto ;
}
